*{  margin: 0;
    padding: 0;
}
html {
    display: flex;
    justify-content: center;
}
body{
    width: 80%;
    max-width: 1100px;
}
header{
    position: relative;
    z-index: 1;

    padding: 15px 50px;
    border: 2px solid black;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 1);
    border-radius: 0 0 10px 10px;
    background-color: rgba(220, 235, 238);
}
.header_nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header_nav li{
    margin: 0;
	padding: 0 0 0 26px;
	list-style: none;
	background-image: url("assets/icon/icon.ico");
	background-repeat: no-repeat;
	background-position: left center;
}
.nav_item{
    font: 25px 'Arvo', serif;
    text-decoration: none;
    color:rgb(92, 65, 117);
}
.nav_item:visited{
    color:rgb(92, 65, 117);
}
.nav_item:hover {
    color: rgb(15, 14, 14)
}


main{
    border: 2px solid black;
    border-bottom: 0;
    border-top: 0;
    margin: -1% 0;
    background: linear-gradient(to bottom, rgb(223, 190, 253), rgba(220, 235, 238)  );
}
.profile{
    padding: 3% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.avatar{
    margin: 1% 0;
    padding: 3px 3px 0 3px;
    border: 2px solid black;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 1);
    border-radius: 10px;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: 50px 'Arvo', serif;
    color:rgb(92, 65, 117);
}






footer{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    box-shadow: 3px -3px 10px 0 rgba(0, 0, 0, 1);
    border-radius:10px 10px 0 0;
    background-color: rgba(220, 235, 238, 0.8);  
    padding: 1%;
}
.rsschool_logo{
    width: 125px;
}
.git_logo{
    width: 64px;
}
footer p{
    font: 20px "Verdana", sans-serif;
    padding-top: 1.5%;
}
footer img:hover{
    opacity: 0.8;
}